.container{

}

.container p{
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 5px 0px;
	color: #000000;
	font-size: 0.9em;
	line-height: 15px;
	letter-spacing: 0.02em;
}

.container strong{
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
	padding: 0;
	margin: 10px 0;
	font-weight: 500;
	color: #000000;
	letter-spacing: 0.00em;
}

.container h1 {
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	font-size: 4.8em;
	line-height: 77px;
}
.container h2 {
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	font-size: 2.5em;
	line-height: 40px;
	letter-spacing: 0.01em;
}
.container h3 {
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	font-size: 2.2em;
	line-height: 36px;
	letter-spacing: 0.01em;
}
.container h4 {
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.6em;
	line-height: 26px;
	letter-spacing: 0.02em;
}
.container h5 {
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 0.02em;
	font-size: 1.4em;
	line-height: 23px;
}
.container h6 {
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.95em;
	line-height: 20px;
	letter-spacing: 0.02em;
	font-size: 12px;
}
.container h1 small {
	font-size: 1.6em;
}
.container h2 small {
	font-size: 1.15em;
}
.container h3 small {
	font-size: 0.92em;
}
.container h4 small {
	font-size: 0.92em;
}