body.container{
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	margin-top: 100px;

}
.container{
	margin: 0px auto;
	width: 1140px;
}

.container p{
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 5px 0px;
	color: #000000;
	font-size: 0.9em;
	line-height: 15px;
	letter-spacing: 0.02em;
}

.container strong{
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
	padding: 0;
	margin: 10px 0;
	font-weight: 500;
	color: #000000;
	letter-spacing: 0.00em;
}

.container h1 {
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	font-size: 4.8em;
	line-height: 77px;
}
.container h2 {
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	font-size: 2.5em;
	line-height: 40px;
	letter-spacing: 0.01em;
}
.container h3 {
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	font-size: 2.2em;
	line-height: 36px;
	letter-spacing: 0.01em;
}
.container h4 {
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.6em;
	line-height: 26px;
	letter-spacing: 0.02em;
}
.container h5 {
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 0.02em;
	font-size: 1.4em;
	line-height: 23px;
}
.container h6 {
	font-family: 'GlyphIcons', Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.95em;
	line-height: 20px;
	letter-spacing: 0.02em;
	font-size: 12px;
}
.container h1 small {
	font-size: 1.6em;
}
.container h2 small {
	font-size: 1.15em;
}
.container h3 small {
	font-size: 0.92em;
}
.container h4 small {
	font-size: 0.92em;
}
.container a,
.container .link {
	color: #2e92cf;
}
.container a:hover,
.container .link:hover {
	color: #0f5f87;
}
.container a:focus,
.container .link:focus,
.container a:active,
.container .link:active {
	color: #0f5f87;
}
.container .btn:hover {
	color: #0f5f87;
	background-color: #FFF8DC;
}
.container .big-header{
	background-color: #E3E3E3;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 20px 0px 0px 0px;
	width: 100%;
}
.container .big-header .header{
	display: flex;
	margin: 0px auto;
}
.container .big-header .header nav{
	margin: 0px 0px 0px 50px;
	padding: 18px 0px 0px 0px;
	right: 0px;
}
.container .big-header .breadcrumb{
	background-color: #cccccc;
	border-top: solid;
	border-top-color: #000000;
	border-top-width: 1px; 
}
.btn{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
}
.container .big-header .header nav button {
	margin-left: -20px;
	border-left-color: #cccccc;
	border-right-color: #cccccc;
}
.active{
	background-color: #555555;
	color: #ffffff;
}
.container label {
	margin: 5px 0;
}